In [1]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)
#pytrends = TrendReq(hl='en-US', tz=360, timeout=(10,25), proxies=['https://172.241.112.79:80',], retries=2, backoff_factor=0.1, requests_args={'verify':False})

In [2]:
kw_list = ["Northwestern", "Football"]
pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='', gprop='')
#pytrends.interest_over_time()
pytrends.build_payload(kw_list=['pizza', 'bagel'], timeframe=['2022-09-04 2022-09-10', '2022-09-18 2022-09-24'])
pytrends.multirange_interest_over_time()

  [0] pizza date  [0] pizza value [1] bagel date  [1] bagel value
0        Average               79        Average                2
1    Sep 4, 2022               97   Sep 18, 2022                2
2    Sep 5, 2022               74   Sep 19, 2022                2
3    Sep 6, 2022               66   Sep 20, 2022                2
4    Sep 7, 2022               59   Sep 21, 2022                2
5    Sep 8, 2022               66   Sep 22, 2022                2
6    Sep 9, 2022               88   Sep 23, 2022                2
7   Sep 10, 2022              100   Sep 24, 2022                2

In [4]:
pytrends.build_payload(kw_list=['northwestern', 'football'], timeframe=['2022-07-01 2022-09-01', '2023-07-01 2023-09-01'])
pytrends.multirange_interest_over_time()

,[0] northwestern date,[0] northwestern value,[1] football date,[1] football value
0,Average,1,Average,37
1,"Jul 1, 2022",1,"Jul 1, 2023",29
2,"Jul 2, 2022",0,"Jul 2, 2023",26
3,"Jul 3, 2022",0,"Jul 3, 2023",19
4,"Jul 4, 2022",0,"Jul 4, 2023",28
...,...,...,...,...
59,"Aug 28, 2022",1,"Aug 28, 2023",50
60,"Aug 29, 2022",1,"Aug 29, 2023",43
61,"Aug 30, 2022",1,"Aug 30, 2023",44
62,"Aug 31, 2022",1,"Aug 31, 2023",51
63,"Sep 1, 2022",1,"Sep 1, 2023",83